<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="MD" connectionString="Data Source=localhost;Initial Catalog=ABA2018_MD;Integrated Security=SSPI; Persist Security Info=false;MultipleActiveResultSets=true "/>
    <add name="LOG" connectionString="Data Source=localhost;Initial Catalog=ABA2018_LOG;Integrated Security=SSPI; Persist Security Info=false;MultipleActiveResultSets=true "/> 
  </connectionStrings>
  <appSettings>
    <add key="OutputFileName" value="docu.html"/>
  </appSettings>
</configuration>